<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <!-- rendez-vous -->
    <div class="container">
      <h2><%= title %></h2>
      <a href="/" class="btn btn-sm btn-primary">back</a><br /><br />
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>patient ID</th>
            <th>date</th>
            <th>heure</th>
            <th>action</th>
          </tr>
        </thead>
        <tbody>
          <% appointments.forEach(function(app){ %>

          <tr>
            <td><%= app.appointment_id %></td>
            <td><%= app.patient_id %></td>
            <td><%= app.appointment_date %></td>
            <td><%= app.appointment_slot%></td>
            <td>
              <a
                href="edit/<%= app.appointment_id %>"
                class="btn btn-sm btn-primary"
                >Edit</a
              >
              <a
                href="red_delete/<%= app.appointment_id %>"
                class="btn btn-sm btn-danger"
                >Delete</a
              >
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </body>
</html>
